#heading{
    font-size: 30px;
    margin-left: 100px;
    
}
#heading h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(5 157 178);
}
.line {
position: relative;
}

.line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 7%; /* Adjust the width as needed */
    height: 5px; /* Adjust the thickness of the underline */
    background-color:rgb(17, 130, 153);
}
.timetableimg{
margin-left: 100px;
margin-top: 10px;

}
.timetableimg button{
border-top-left-radius: 10px;   
border-top-right-radius: 10px; 
height: 40px;
width: 100px;
font-size: 17px;
border: none;
}
hr{
margin-left:0px;
width: 1310px;
}
.border-image{
display: block;
}
#timetableheading h1 {
margin-left: 100px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:rgb(5 157 178);
}      